body {
    text-align: center;
    background-color:#060636;
    color: #9b9bbe
}
h1 {
    font-weight: strong;
    font-size: 84pt;
    font-family: Verdana, Arial, sans-serif;
}
p {
    font-weight: strong;
    font-family: Verdana, Arial, sans-serif;
}
label {
    font-weight: strong;
    font-size: 24pt;
    font-family: Verdana, Arial, sans-serif;
}
input {
    width: 75%;
    padding: 1em 1.5em;
    margin: 1em 0;
    box-sizing: border-box;
    border: none;
    background-color: #9b9bbe; 
}
form {
    padding-top: 1.5em;
    margin: 1em;
}
#button {
    border-radius: 10px;
}